<h1>
  <%= @character.firstname %>
  <%= @character.surname %>  
</h1>
<h2>
  <%= @character.gender %>
</h2>
<p>
  House: 
  <%= @character.house(@character.house_id) %>
</p>
<p>
  Mother: 
  <% mid = @character.mother_id %>
  <a href="/characters/<%= @character.parent(mid).id %>">
  <%= @character.parent(mid).firstname %>
  <%= @character.parent(mid).surname %>
  </a>
</p>
<p>
  Father: 
  <% fid = @character.father_id %>
  <a href="/characters/<%= @character.parent(fid).id %>">
  <%= @character.parent(fid).firstname %>
  <%= @character.parent(fid).surname %>
  </a>
</p>
<p>
  <%= @character.religion_id %>
</p>

