<div class="wrapper">
<div class="one">One</div>
<div class="two">Mother: 
  <% if @character.mother_id == 'null' %>
  <%=   'Unknown' %>
  <% else %>
  <%    mother = @character.parent(@character.mother_id) %>
        <a href="/characters/<%= @character.mother_id %>">
  <%=   mother.firstname %>
  <%=   mother.surname %>
        </a>
  <% end %></div>


<div class="four">//Father:
  <% if @character.father_id == 'null' %>
  <%=  'Unknown' %>
  <% else %>
  <%   father = @character.parent(@character.father_id) %>
       <a href="/characters/<%= @character.father_id %>">
  <%=  father.firstname %>
  <%=  father.surname %>
       </a>
  <% end %>
</div>  

<div class="eight">
  <h1>
  <%= @character.firstname %>
  <%= @character.surname %>  
</h1>

<img src="<%= @character.portrait %>">
</div>

<% @character.siblings.each do |sibling| %>
<%    if sibling.mother_id == @character.mother_id && sibling.father_id == @character.father_id %>
        <% if sibling.gender == 'm' %>
            <p>Brother: <a href="/characters/<%= sibling.id %>"><%= sibling.firstname %> <%= sibling.surname %> </a></p>
        <% else %>    
            <p>Sister: <a href="/characters/<%= sibling.id %>"><%= sibling.firstname %> <%= sibling.surname %> </a></p>
        <% end %>    
<%    else    %>
        <% if sibling.gender == 'm' %>
            <p>Half-Brother: <a href="/characters/<%= sibling.id %>"><%= sibling.firstname %> <%= sibling.surname %> </a></p>
        <% else %>    
            <p>Half-Sister: <a href="/characters/<%= sibling.id %>"><%= sibling.firstname %> <%= sibling.surname %> </a></p>
        <% end %>    
<%    end %>  
  <% end %>

<p>
<% if @character.house_id == 'null' %>
<%=    'No House'   %>
<% else %>
      <a href="/houses/<%= @character.house.id %>">House <%= @character.house.name %></a>
<% end %>
</p>

<p>
  <% if @character.religion_id == 'null' %>
  <%    if @character.house.religion_id == 'null' %>
  <%=       'Unknown Religion' %>
  <%    else %>
  Religion: <a href="/religions/<%= @character.house.religion_id %>"><%= @character.house.religion.name %></a>
  <%   end  %>
  <% else %>
  Religion: <a href="/religions/<%= @character.religion_id %>"><%= @character.religion.name %></a>
  <% end %>
  
</p>

<p>
  <% @character.children.each do |child| %>
  
   <% if child.gender == 'm' %>
       <p>Son: <a href="/characters/<%= child.id %>"><%= child.firstname %> <%= child.surname %></a></p>
   <% else %>    
       <p>Daughter: <a href="/characters/<%= child.id %>"><%= child.firstname %> <%= child.surname %></a></p>
   <% end %>     
<% end %>
</p>






</div>




