<h1>Great House <%= @house.name %></h1>
<img src="<%= @house.sigil_link %>">
<% @house.sigil_link %>
<h2><%= @house.sigil_script %></h2>
<h2><%= @house.words %></h2>
<h2><%= @house.titles %></h2>
<h2><%= @house.seat %></h2>
<h2><%= @house.region %></h2>
<h2><%= @house.religion_id %></h2>

